{% extends "base.html" %}
{% block content %}
<style>
    .card mb-3 shadow-sm overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .3s ease;
        background-color: red;
    }

    .icon {
        color: white;
        font-size: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        cursor: pointer;
    }
</style>
<main role="main">
    <div class="container">
        <div class="col-md-8 offset-md-2">
            <h1 class="mt-5">Edit ad</h1>
            <br />
            {% for img in images %}
            <div class="col-md-3" style="display:inline-block;">
                <div class="overlay">
                    <img src="../../{{ img.path }}" style="width: 100%; height: 200px;"><br>
                    <form action="/ads/image-delete/{{ img.id }}" method="post">
                        <input type="hidden" name="aid" value="{{ ad.id }}">
                        <button class="icon btn btn-link" title="Delete image">
                            <i class="fas fa-trash-alt"></i></button>
                    </form>
                </div>
            </div>
            {% endfor %}
            <br><br>
            <form id="adEditForm" class="form form-ad-edit" method="POST" action="" role="form">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{form.title(value=ad.title, class_="form-control")}}
                    {% for error in form.title.errors %}
                    <span style="color: red;">*{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{form.content(value=form.content.data, cols="35", rows="10",class_="form-control") |safe}}
                    {% for error in form.content.errors %}
                    <span style="color: red;">*{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{form.price(value=ad.price, class_="form-control")}}
                    {% for error in form.price.errors %}
                    <span style="color: red;">*{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{form.room(value=ad.room, class_="form-control")}}
                    {% for error in form.room.errors %}
                    <span style="color: red;">*{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{form.visitor(value=ad.visitor, class_="form-control")}}
                    {% for error in form.visitor.errors %}
                    <span style="color: red;">*{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{form.city(value=ad.city, class_="form-control")}}
                    {% for error in form.city.errors %}
                    <span style="color: red;">*{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{form.address(value=ad.address, class_="form-control")}}
                    {% for error in form.address.errors %}
                    <span style="color: red;">*{{ error }}</span>
                    {% endfor %}
                </div>
                <p><input class="btn btn-outline-info" type="submit" value="Submit"></p>
            </form>
            <br>

        </div>
    </div> <!-- /container -->
    <script>
        if (!window.location.hash) {
            window.location = window.location + '#loaded';
            window.location.reload();
        }
    </script>
</main>
{% endblock %}