{% extends "base.html" %}
{% block content %}
<main role="main">
    <div class="container">
        <div class="col-md-8 offset-md-2">
            <h1 class="mt-5">Edit review</h1>
            <br />
            <form id="reviewEditForm" class="form form-review-edit" method="POST" action="" role="form">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{form.content(value=review.content, cols="35", rows="10",class_="form-control") |safe}}
                    {% for error in form.content.errors %}
                    <span style="color: red;">*{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label>Review grade</label>
                    {{form.grade(value=review.grade)}}
                    {% for error in form.grade.errors %}
                    <span style="color: red;">*{{ error }}</span>
                    {% endfor %}
                </div>
                <p><input class="btn btn-primary" type="submit" value="Edit"></p>
            </form>
            <br><br>
        </div>
    </div> <!-- /container -->
</main>
{% endblock %}